:root {
            --primary-color: rgb(59, 91, 159);
            --secondary-color: #e7d7ef;
            
            --background: rgba(236, 182, 251, 0.911);
           
        }
        
        /* Global Styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
            color:whi;
            background: var(--background);
            
        }
         
        
         a {
            text-decoration: none;
            color: var(--primary-color);
             transition: all 0.3s ease; 
        } 
        
        
         .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
        } 
        
        
        .btn {
            display: inline-block;
            padding: 12px 30px;
            background: var(--primary-color);
            color: white;
            border-radius: 5px;
           
            font-weight: 600;
            letter-spacing: 1px;
            
        }
        
        .btn:hover {
            background: #4d71e5;
            color: white;
            transform: translateY(-3px);
        } 
       
         
        /* Header  */
        header {
            background: rgba(135, 31, 161, 0.882);
            position: fixed;
            width: 100%;

            z-index: 1000;
        }
        
        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
        }
        
        .logo {
            font-size: 2.5rem;
            font-weight: 700;
            color: rgba(241, 241, 247, 0.951);
        }
        
        .nav-menu {
            display: flex;
            list-style: none;
        }
        
        .nav-item {
            margin-left: 30px;
        }
        
        .nav-link {
            color: black;
            font-weight: 500;
        }
        
        .nav-link:hover {
            color: var(--primary-color);
        }
         
        /* hero */
        .hero {
            height: 100vh;
            display: flex;
            align-items: center;
            background: var(--secondary-color);
           
        }
        
        .hero-content {
            text-align: center;
        }
        
        .hero-title {
            font-size: 3.5rem;
            margin-bottom: 20px;
            color: rgb(153, 83, 219);
        }
        
        .hero-subtitle {
            font-size: 1.5rem;
            color: rgb(163, 56, 193);
            margin-bottom: 30px;
        }

         /* About Section */
         .section {
            padding: 80px 0;
        }
        
        .section-title {
            text-align: center;
            margin-bottom: 50px;
            font-size: 2rem;
           
        }
        
        .about-content {

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            align-items: center;
        }
        
        .about-img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }
        
        .about-text h3 {
            font-size: 2rem;
            margin-bottom: 20px;
        }
        
        .about-text p {
            margin-bottom: 15px;
            color: rgba(0, 0, 0, 0.816);
        }

        /*for responsive/style */
        @media (max-width: 980px) {
            .about-content{
             
                grid-template-columns: 1fr;
            } 
         .hero-title {
                font-size: 2.5rem;
            }
        }